# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.suo
*.db
*.opendb
*.db-shm

NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/link.read.1.tlog
NZ-School-Information-System/x64/Debug/NZ-School-Information-System.ilk
NZ-School-Information-System/x64/Debug/NZ-School-Information-System.log
NZ-School-Information-System/x64/Debug/vc143.idb
NZ-School-Information-System/x64/Debug/vc143.pdb
x64/Debug/NZ-School-Information-System.pdb