# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/NZ-School-Information-System/v17/Browse.VC.opendb
.vs/NZ-School-Information-System/v17/Browse.VC.db
.vs/NZ-School-Information-System/v17/Browse.VC.db-shm
.vs/NZ-School-Information-System/v17/Browse.VC.db-shm
.vs/NZ-School-Information-System/v17/.suo
NZ-School-Information-System/NZ-School-Information-System.cpp
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/CL.command.1.tlog
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/CL.read.1.tlog
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/CL.write.1.tlog
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/NZ-School-Information-System.lastbuildstate
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/link.read.1.tlog
NZ-School-Information-System/x64/Debug/NZ-Schoo.ecb0289d.tlog/link.write.1.tlog
NZ-School-Information-System/x64/Debug/NZ-School-Information-System.exe.recipe
NZ-School-Information-System/x64/Debug/NZ-School-Information-System.ilk
NZ-School-Information-System/x64/Debug/NZ-School-Information-System.log
NZ-School-Information-System/x64/Debug/vc143.idb
NZ-School-Information-System/x64/Debug/vc143.pdb
x64/Debug/NZ-School-Information-System.pdb